:root{
    --cor-bg: #ffffff;
    --cor-principal: #0f8f8f;
    --cor-text: #EDEDED;
    --font-size: 0.8vw;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/PlaypenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background-color: var(--cor-bg);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MinhaFonte', sans-serif ;
}

.container{
    background-color: var(--cor-principal);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5vw;
    color: var(--cor-text);
    width: 90vw;
    height: 90vh;
    padding: 1vw;
    box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
}

img{
    width: 10vw;
    
}

h1{
    font-size: 3vw;
}