
:root{
    --cor-bg: #ffffff;
    --cor-principal: #0f8f8f;
    --cor-text: #EDEDED;
    --font-size: 14pt;
}

*{

    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-bg);
}   

header{
    background-color: var(--cor-principal);
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    width: 100vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navlist{
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    color: var(--cor-text);
}

li{
    cursor: pointer;
    font-size: var(--font-size);
}

.cadastro{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1vw;
    justify-content: space-around;
    font-size: var(--font-size);
}

.cadastre-se{
    color: var(--cor-text);
}

.login{
    color: var(--cor-principal);
    background-color: var(--cor-bg);
    width: 5vw;
    padding: 0.2vw;
    border-radius: 3px;
}

.bannerhome{
    display: flex;
    height: auto;
    max-width: 99vw;
}

.bannerhome img{
    max-width: 99vw;
    height: auto;
}

.texto-home{
    display: flex;
    justify-content: center;
    color: var(--cor-principal);
    font-size: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    padding: 2vw;
    align-items: center;

}

.card{
    display: block;
    background: var(--cor-principal);
    padding: 2vw;
    border-radius: 8px;
    width: 20vw;
    height: 25vw;
    cursor: pointer;
}

.card img{
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 15%;
}

.card a{
    color: var(--cor-text);
    font-weight: bold;
}

.departamentos figure{
    background-color: var(--cor-text);
    display: block;
    text-align: center;
    padding: 1vw;
}

.pontas{
    display: flex;
    justify-content: center;
    height: 30vw;
}

.pontas div{
    display: flex;
    justify-content: center;
    height: 30vw;
}

/* .card-meio{
    gap: 1vw;
    display: flex;
    flex-direction: column;
} */

.departamentos img{
    width: 40%;
}