:root{
    --cor-bg: #ffffff;
    --cor-principal: #0f8f8f;
    --cor-text: #EDEDED;
    --font-size: 1vw;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/PlaypenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background-color: var(--cor-bg);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'MinhaFonte', sans-serif ;
}

.teste{
    margin-top: 8vw;
    margin-bottom: 1vw;
}

img{
    margin-top: 2vw;
    margin-bottom: 0;
    width: 6vw;
}

.container{
    margin-bottom: 10%;
    background-color: var(--cor-principal);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5vw;
    color: var(--cor-text);
    padding: 1vw;
    width: 40vw;
    height: 50vw;
    box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
}

#loginForm{
    padding: 1vw;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
}

input{
    margin-top: 0.4vw;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    height: 2vw;
    color: var(--cor-principal);
    font-weight: bold;
}

label{
    margin-top: 0.5vw;
}



.btn{
    margin-top: 2vw;
    margin-bottom: 2vw;
    background-color: var(--cor-bg);
    border: none;
    width: 50%;
    height: 2vw;
    border-radius: 0.2vw;
    color: var(--cor-principal);
    font-weight: bolder;
    cursor: pointer;
}

span{
    color: var(--cor-text);
}

a{
    text-decoration-color: var(--cor-text);
    font-size: var(--font-size);
}

/* MOBILE------------------------------------------------------------------------ */

@media (max-width: 768px) {

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0%;

    }

    p{
        display: none;
    }

    .msg, span{
        display: block;
        text-align: center;
    }

    .msg span{
        font-size: large;
    }


    img{
        margin-top: 1vw;
        margin-bottom: 0;
        width: 30vw;
    }

    #loginForm{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        padding: 5vw;
        width: 100%;
        height: 50%;
    }

    .btn{
        display: flex;
        border-radius: 0.5vw;
        align-items: center;
        justify-content: center;
        height: 10vw;
    }
    
    input{
        margin-top: 0.4vw;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 2px;
        height: 10vw;
        color: var(--cor-principal);
        font-weight: bold;
    }
    
    label{
        margin-top: 0.5vw;
    }
    

}