
:root{
    --cor-bg: #eaf7f5;
    --cor-principal: #0f8f8f;
    --cor-text: #EDEDED;
    --font-size: 100%;
    --cor-card: #ffffff;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/PlaypenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-bg);
    height: 100vh;
    font-family: 'MinhaFonte', sans-serif ;
}   

header{
    background-color: var(--cor-principal);
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.logo{
    width: 3vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navlist{
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    color: var(--cor-text);
}

li{
    cursor: pointer;
    font-size: var(--font-size);
}

li a{
    color: var(--cor-text);
    position: relative;
}

li a::after{
    content: " ";
    width: 0%;
    height: 0.1vw;
    background-color: var(--cor-text);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

li a:hover::after{
    width: 100%;
}

.cadastro{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1vw;
    justify-content: space-around;
    font-size: var(--font-size);
}

.cadastre-se{
    color: var(--cor-text);
}

.login{
    color: var(--cor-principal);
    background-color: var(--cor-bg);
    width: 5vw;
    padding: 0.2vw;
    border-radius: 3px;
}

.logowhats{
    width: 3vw;
    position: fixed;
    top: 40vw;
    right: 1vw;
    z-index: 1;
}

.logowhats img{
    width: 3vw;
}



.texto-home{
    display: flex;
    justify-content: center;
    color: var(--cor-principal);
    font-size: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vw;
}

.prod{
    position: relative;
    top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    padding: 2vw;
    align-items: center;

}


.card{
    display: block;
    background: var(--cor-card);
    padding: 2vw;
    border-radius: 8px;
    width: 20vw;
    height: 25vw;
    box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img{
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2vw;
}

.card a{
    color: var(--cor-principal);
}

.preco-container{
    display: flex;
    align-items: center;
    gap: 1vw;

}

.preco_de{
    color: var(--cor-principal);
    float: left;
    text-decoration: line-through;
    font-size: 10pt;
    font-weight: bold;
}

.preco_por{
    color: var(--cor-principal);
    font-weight: bolder;
    float: right;

}


.btn-prod{
    background-color: var(--cor-principal);
    border: none;
    padding: 0.3vw;
    color: var(--cor-text);
    width: 50%;
    border-radius: 0.5vw;
    cursor: pointer;
    font-weight: bolder;

    display: none;
}

footer{
    background-color: var(--cor-principal);
    display: flex;
    margin-top: 5vw;
    justify-content: space-around;
    align-items: center;
    height: 12vw;
}

footer img{
    width: 5vw;    
}

.container-footer{
    color: var(--cor-text);
    text-align: center;
}

.item-lista{
    margin: 0.5vw;
}

.assinatura{
    font-weight: thin;
    margin-top: 1vw;
    background-color: var(--cor-principal);
    color: var(--cor-text);
}
