:root{
    --cor-bg: #eaf7f5;
    --cor-principal: #0f8f8f;
    --cor-text: #EDEDED;
    --font-size: 1vw;
    --cor-btn-addToCard: #29be4e;
    --card-font-size: 1vw;
    --cor-card: #ffffff;
    --cor-card-departamentos: #ffffff;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/PlaypenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: var(--cor-bg);
    font-family: 'MinhaFonte', sans-serif;
    height: 100vh;
    min-height: 720px;
}   

header{
    background-color: var(--cor-principal);
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}


/* --------------------------------------- */
/* comeco do carrinho */
.cart {
    position: fixed;
    top: 0;
    right: -30vw;
    width: 30vw;
    height: 100vh;
    background-color: var(--cor-bg);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y:scroll;
    height: 100vh;
}
  
.cart.active {
    right: 0;
}

.cart h2 {
    padding: 0.5vw;
}

#close-cart {
    background-color: var(--cor-principal);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    float: right;
    border: none;
    margin: 0.5vw;
    padding: 0.5vw;
    cursor: pointer;
    border-radius: 50%;

}
  
.add-to-cart-btn {
    background-color: var(--cor-btn-addToCard);
    margin-left: 15vw;
    margin-top: 1vw;
    border: none;
    padding: 0.3vw;
    color: var(--cor-text);
    width: 25%;
    border-radius: 0.5vw;
    cursor: pointer;
    font-weight: bolder;
    font-size: 0.7vw;
    /* display: none; */
}
  
.item-carrinho{
    margin-top: 2vw;
    color: var(--cor-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8vw;
    margin: 0 1vw 2vw;
    cursor:default;

}

.remove-btn{
    width: 1vw;
    cursor: pointer;
}

.finish-btn{
    background-color: var(--cor-principal);
    padding: 0.4vw;
    display: flex;
    position: fixed;
    height: 3vw;
    bottom: 0vw;
    border: none;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.finish{
    background-color: var(--cor-btn-addToCard);
    border-radius: 0.3vw;
    color: var(--cor-text);
    position: relative;
    height: 1.5vw;
    border: none;
    align-items: center;
    justify-content: center;
    width: 30%;
    cursor: pointer;
}


.subtotal{
    color: var(--cor-text);
    width: 30%;
    font-size: 0.9vw;
}

/* fim do carrinho */
/* ------------------------------------- */


.div-logo{
    display: flex;
    margin-right: 3vw;
}

.logo{
    width: 3vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist{
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    color: var(--cor-text);
}

li{
    cursor: pointer;
    font-size: var(--font-size);
}

li a{
    color: var(--cor-text);
    position: relative;
}

li a::after{
    content: " ";
    width: 0%;
    height: 0.1vw;
    background-color: var(--cor-text);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

li a:hover::after{
    width: 100%;
}

/* div cadastro -------------------------------*/

.cadastro{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1vw;
    justify-content: space-between;
}

.search-icon{
    width: 1.2vw;
    cursor: pointer;

}

.cart-icon{
    width: 1.7vw;
    cursor: pointer;
    margin-left: -0.2vw;
}

.login{
    width: 1.2vw;
}

/* div cadastro -------------------------------*/

.carousel {
    position: relative;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    z-index: 10;
    background-color: var(--cor-bg);
}

.carousel-images a{
    display: flex;

}

.carousel-images .link1{
    width: 100%;
    max-width: 100vw;
}
.carousel-images .link2{
    width: 100%;
    max-width: 100vw;
}

.carousel-images .link3{
    width: 100%;
    max-width: 100vw;
}


.slide {
    max-width: 100%;
    display: none;
}

.slide.active {
    display: block;

}

.prev, .next {
    color: var(--cor-text);
    position: absolute;
    top: 50%;
    background-color: var(--cor-principal);
    border: none;
    padding: 10px;
    height: 5vh;
    width: 2vw;
    margin: 0.5vw;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    z-index: 1;
}

.prev {
    left: 0;
}


.next {
    right: 0;
}


@keyframes toActive{
    from{
        top: 100%;
        opacity: 0;
    }
}

.slide.active{
    animation: toActive 2s ease-in-out 1;
}



.logowhats{
    width: 3vw;
    position: fixed;
    top: 40vw;
    right: 1vw;
    z-index: 1;
}

.logowhats img{
    width: 3vw;
}


.bannerhome img{
    width: 100%;
    height: auto;
}


.texto-home{
    display: flex;
    justify-content: center;
    color: var(--cor-principal);
    font-size: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 7vw;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    padding: 2vw;
    align-items: center;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-card);
    padding: 0.1vw 2vw 1vw;
    border-radius: 8px;
    width: 20vw;
    height: 25vw;
    box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.04);
    box-shadow: 5px 9px 7px 2px rgba(0, 0, 0, 0.2);
}


.card a{
    color: var(--cor-principal);
    font-size: var(--card-font-size);
    margin-top: 0;
}

.produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.preco-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: space-between; */
    gap: 0.2vw;
    width: 100%;

    /* display: none; */
}

.preco_de{
    color: var(--cor-principal);
    /* margin-left: 0; */
    text-decoration: line-through;
    text-align: left;
    font-size: 0.8vw;
    font-weight: bold;
}

.preco_por{
    color: var(--cor-principal);
    font-weight: bolder;
    text-align: left;
    margin-left: 1vw;
    font-size: var(--font-size);

}


.preco-label{
    width: 100%;
}


.btn-prod{
    background-color: var(--cor-principal);
    border: none;
    padding: 0.3vw;
    color: var(--cor-text);
    width: 50%;
    border-radius: 0.5vw;
    cursor: pointer;
    font-weight: bolder;

    /* display: none; */
}

.card img{
    display: flex;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 0.2vw;
}

.preco-label{
    width: 100%;
}


.btn-prod{
    background-color: var(--cor-principal);
    border: none;
    padding: 0.3vw;
    color: var(--cor-text);
    width: 50%;
    border-radius: 0.5vw;
    cursor: pointer;
    font-weight: bolder;
    font-size: var(--card-font-size);


    display: none;
}

.departamentos{
    display: flex;
    justify-content: center;
}

.card-meio img{
    width: 10vw;
}

.card-meio{
    background-color: var(--cor-card-departamentos);
    height: 15vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
}

.meio{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.meio img{
    transition: transform 0.3s ease;
}

.meio img:hover{
    transform: scale(1.1);
}

.pontas img{
    width: 20vw;
    margin-bottom: 2vw;
    transition: transform 0.3s ease;
}

.pontas img:hover{
    transform: scale(1.1);

}

.pontas{
    background-color: var(--cor-card-departamentos);
    height: 32vw;
    display: flex;
    padding: 3vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
    
}


.departamentos h2{
    color: var(--cor-principal);
    font-size: 2vw;

}

.bannerhome2{
    display: flex;
    margin-top: 3vw;
    justify-content: center;
    height: auto;
    max-width: 100vw;
}

.bannerhome2 img{
    width: 87%;
    height: auto;
    border-radius: 0.5vw;
    box-shadow: 3px 7px 5px 2px rgba(0, 0, 0, 0.2);
}

footer{
    background-color: var(--cor-principal);
    display: flex;
    margin-top: 5vw;
    font-size: var(--font-size);
    justify-content: space-around;
    align-items: center;
    height: 12vw;
    margin-bottom: 0;
}

footer img{
    width: 5vw;    
}

.container-footer{
    color: var(--cor-text);
    text-align: center;
}

.item-lista{
    margin: 0.5vw;
}

.assinatura{
    font-weight: thin;
    margin-top: 1vw;
    background-color: var(--cor-principal);
    color: var(--cor-text);

}
