:root{
    --cor-bg: #eaf7f5;
    --cor-principal: #0f8f8f;
    --cor-text: #EDEDED;
    --font-size: 1vw;
    --cor-btn-addToCard: #29be4e;
    --card-font-size: 1vw;
    --cor-card: #ffffff;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/PlaypenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: var(--cor-bg);
    font-family: 'MinhaFonte', sans-serif;
    height: 100vh;
    /* min-height: 720px; */
}   

header{
    background-color: var(--cor-principal);
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.div-logo{
    display: flex;
    margin-right: 3vw;
}

.logo{
    width: 3vw;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist{
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    color: var(--cor-text);
}

li{
    cursor: pointer;
    font-size: var(--font-size);
}

li a{
    color: var(--cor-text);
    position: relative;
}

li a::after{
    content: " ";
    width: 0%;
    height: 0.1vw;
    background-color: var(--cor-text);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

li a:hover::after{
    width: 100%;
}

/* INICIO DO CADASTRO--------------------------- */

.cadastro{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1vw;
    justify-content: space-between;
    visibility: hidden;
}

.search-icon{
    width: 1.2vw;
    cursor: pointer;

}

.cart-icon{
    width: 1.2vw;
    cursor: pointer;
}

.login{
    width: 1.2vw;
}

.cart-counter {
    position: absolute;
    bottom: 2.4vw;
    right: 0.9vw;
    background-color: var(--cor-btn-addToCard);
    color: white;
    border-radius: 50%;
    padding: 0.2vw 0.4vw;
    font-size: 0.6vw;
}

/* ------------------------------------------------ */

.title{
    display: flex;
    margin-top: 9vw;
    color: var(--cor-principal);
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 2vw;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 3vw 10vw;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-card);
    padding: 1vw;
    border-radius: 0.5vw;
    box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
    min-height: 20vw;
}

table, th, td {
    padding: 8px;
}

th {
    background-color: transparent;
    text-align: left;
    color: var(--cor-principal);
    font-weight: bolder;
}


td:nth-child(3), th:nth-child(3) {
    text-align: center;
}

td:nth-child(4), th:nth-child(4) {
    text-align: center;
}

td:nth-child(5), th:nth-child(5) {
    text-align: center;
}



tr:nth-child(even) {
    background-color: transparent;
}

td {
    text-align: left;
    color: var(--cor-principal);
}

.enviar-section{
    margin-top: 1vw;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

#total{
    color: var(--cor-principal);
    font-size: var(--font-size);
}


#enviar-btn{
    display: flex;
    background-color:  #29be4e;
    border-radius: 0.3vw;
    color: var(--cor-text);
    position: relative;
    height: 2vw;
    border: none;
    align-items: center;
    justify-content: center;
    width: 12%;
    font-size: var(--font-size);
    text-align: center;
    cursor: pointer;
}



/* RODAPE--------------------------------------------------------- */
footer{
    background-color: var(--cor-principal);
    display: flex;
    margin-top: 5vw;
    font-size: var(--font-size);
    justify-content: space-around;
    align-items: center;
    height: 12vw;
    bottom: 0;
}

footer img{
    width: 5vw;    
}

.container-footer{
    color: var(--cor-text);
    text-align: center;
}

.item-lista{
    margin: 0.5vw;
}

.assinatura{
    font-weight: thin;
    /* margin-top: 1vw; */
    background-color: var(--cor-bg);
    color: var(--cor-principal);
    text-align: center;

}
/* FIM--------------------------------------------------------------------------- */

